.section {
  padding: 40px 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header h3 {
  font-size: 20px;
}

.collapse {
  background: none;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
}

.grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
