.section {
  padding: 40px 32px;
}

.tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.tabs button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.active {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

.grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
