.search {
  display: flex;
  width: 50%;
  max-width: 500px;
}

.search input {
  flex: 1;
  padding: 10px;
  border-radius: 6px 0 0 6px;
  border: none;
  outline: none;
}

.search button {
  padding: 0 16px;
  border: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}
